.MovieCard-Container {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 17.5rem;

  &.light {
    background-color: antiquewhite;
    border: 1px solid black;
  }

  &.dark {
    background-color: #222;
    color: #00bcd4;
  }

  img {
    width: 280px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
  }

  .title {
    text-align: left;
    font-weight: bold;
    font-size: large;
    white-space: normal;
    word-break: break-word;
  }
  .vote_average {
    text-align: left;
    font-weight: bold;
    font-size: large;
  }

  .vote-bookMark {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 북마크 아이콘 수직 가운데 정렬 */
  }
}
