.common-btn {
  background-color: transparent;
  border: 1px solid #00bcd4;
  color: #00bcd4;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s;
  height: 50px; // 고정 높이 추가
  line-height: 20px; // 아이콘·텍스트 모두 수평 정렬됨
  font-weight: bold;
  font-size: larger;
  &:hover {
    color: #ffffff !important;
    transform: translateY(-2px);
  }
}

.loginPage-btn {
  width: 100%;
  background-color: #00bcd4;
  color: black;
}

.signUpPage-btn {
  width: 100%;
  max-width: 25rem;
  background-color: #00bcd4;
  color: #000000;
}
