.oauth-btn {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  justify-content: center;

  .oauth-logo {
    width: 22px;
    height: 22px;
  }

  .btn-text {
    text-align: center;
    flex: 1;
  }
}

.kakao-btn {
  background-color: #fee500;
  color: #3c1e1e;

  &:hover {
    transform: translateY(-2px);
    background-color: #f5d900;
  }
}

.google-btn {
  background-color: #ffffff;
  border: 1px solid #ddd;
  color: #3c1e1e;

  &:hover {
    transform: translateY(-2px);
    background-color: #f7f7f7;
  }
}
